html,
body {
  margin: 0;
}

.app {
  display: flex;

  textarea,
  .results {
    font-size: 2em;
  }

  textarea {
    width: 80vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    resize: none;
  }

  .results {
    width: 20vw;
    background: red;
  }
}
