:root {
  --font-size: 2em;
  --text-color: black;
}

html,
body {
  margin: 0;
}

.app {
  display: flex;

  textarea,
  .text,
  .results {
    font-size: var(--font-size);
    font-family: 'Roboto Mono';
    padding: .5em;
  }

  .textContainer {
    position: relative;
    width: 80vw;
    margin: 0;

    textarea,
    .text {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      line-height: var(--font-size);
    }

    textarea {
      border: 0;
      outline: 0;
      width: 100%;
      resize: none;
      color: transparent;
      background: transparent;
      caret-color: var(--text-color);
    }

    .text {
      color: var(--text-color);

      div {
        height: var(--font-size);
      }
    }
  }

  .results {
    width: 20vw;
    background: red;
    display: flex;
    flex-direction: column;

    div {
      height: var(--font-size);
    }
  }
}
