:root {
  --font-size: 24px;
  --line-height: 34px;
  --text-color: rgb(227, 230, 232);
  --bg-color: rgb(33, 34, 38);
  --current-line-bg-color: rgb(39, 41, 45);
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex: 1;
  background: var(--bg-color);

  textarea,
  .texts {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-family: 'Roboto Mono';
  }

  textarea {
    border: 0;
    outline: 0;
    width: 80%;
    resize: none;
    color: transparent;
    background: transparent;
    caret-color: var(--text-color);
    padding: 0 0.5em;
  }

  .texts {
    .line {
      display: flex;
      flex-direction: row;
      padding: 0 0.5em;

      &.current {
        background: var(--current-line-bg-color);
      }

      .text {
        width: 80%;
        color: var(--text-color);
        flex: 1;

        div {
          height: var(--line-height);
          white-space: pre;
        }

        span {
          div {
            display: inline-block;
          }
        }

        .variable {
          color: rgb(115, 189, 234);
        }

        .comment {
          color: rgb(246, 195, 80);
        }

        .keyword {
          color: rgb(193, 211, 210);
        }
      }

      .result {
        width: 20%;
        color: rgb(155, 207, 77);
        text-align: right;
        vertical-align: bottom;
        display: flex;
        flex-direction: column;

        div {
          height: var(--line-height);
        }
      }
    }
  }
}
