:root {
  --font-size: 18px;
  --line-height: 34px;
  --dialog-bg-color: rgb(33, 34, 38);
  --text-color: rgb(227, 230, 232);
}

html,
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  flex: 1;
  display: flex;
  font-family: 'JetBrains Mono';

  .preferencesDialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    background: var(--dialog-bg-color);
    color: var(--text-color);
    border: 1px solid black;

    .field {
      margin-bottom: 1em;

      label {
        display: inline-block;
        width: 12em;
      }

      input {
        border: 1px solid black;
        padding: .3em;
        margin-right: 1em;

        &.fontSize,
        &.decimalPlaces,
        &.separator {
          width: 3em;
        }
      }
    }

    .buttons {
      float: right;
      margin-top: 1.5em;

      span {
        display: inline-block;
        margin-left: 1em;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .help {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--dialog-bg-color);
    color: var(--text-color);
    padding: 2em;
    overflow: auto;

    h1 {
      padding: 0;
      margin: 0;

      &:not(:first-child) {
        margin-top: 1em;
      }
    }

    code {
      font-size: 1.4em;
      font-family: 'JetBrains Mono';
    }

    .closeButton {
      position: fixed;
      top: 1em;
      right: 2em;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
